<!DOCTYPE html>
<html>
<head>
  <title>MAX Collect</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand">MAX Collect</a>
        <div class="nav-collapse">
          <ul class="nav">
			<li><%= link_to "Home" %></li>
            <li><%= link_to "Find" %></li>
            <li><%= link_to "Help"%></li>
			<li><%= link_to "Feedback"%></li>
          </ul>
			<p class="navbar-text pull-right">
				<a href="#" class="navbar-link">
			<% if current_user %>
			    Logged in as <%= current_user.email %>.
			    <%= link_to "Log out", log_out_path %>
			  <% else %>
			    <%= link_to "Sign up", sign_up_path %> or
			    <%= link_to "log in", log_in_path %>
			  <% end %>
				</a>
			</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">×</a>
      <%= msg %>
    </div>
  <% end %>
<% if current_user %>
<div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-tabs nav-stacked">
          <li><a href="#addresses"><i class="icon-chevron-right"></i> First Item</a></li>
          <li><a href="#worked"><i class="icon-chevron-right"></i> Second Item</a></li>
          <li><a href="#images"><i class="icon-chevron-right"></i> Third Item</a></li>
          <li><a href="#icons"><i class="icon-chevron-right"></i> Fourth Item</a></li>
        </ul>
      </div>
<% end %>
      <div class="span9">
    <div class="row">
      <div class="span9"><%= yield %></div>
    </div>
  </div>
</body>
</html>